@import "https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.2.0/nouislider.css";
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
a {
    outline: none;
}

.noUi-value.noUi-value-horizontal.noUi-value-sub,
.noUi-value.noUi-value-horizontal.noUi-value-large {
    font-size: 16px;
    top: -25px;
    color: #6F7487;
}

div, p, span, h1, h2, h3 {
    font: 100% "PT Sans Narrow", sans-serif;
}

.seo {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.seo .section-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0 0;
}
.seo .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 20px;
    margin-top: 20px;
    min-height: 108px;
}
.seo .slider .slider-block {
    width: 100%;
    margin: 25px auto;
    -webkit-box-flex: 2 1 auto;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
    position: relative;
}
.seo .slider .slider-count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 10px 0;
    width: 100%;
}
.seo .slider .slider-count div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 300px;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    text-align: center;
}
.seo .slider .noUi-target {
    border: none;
    background-color: #B8B8B8;
    height: 2px;
    box-shadow: none;
}
.seo .slider .noUi-state-tap {
    background-image: -webkit-linear-gradient(#eeeeee, #333);
    background-image: linear-gradient(#eeeeee, #333);
}
.seo .slider .noUi-horizontal .noUi-handle {
    cursor: pointer;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.section-return-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 0px 5px;
    height: 82px;
    border-top: 1px solid #bfbfbf;
}

.noUi-handle {
    display: block;
    position: relative;
}
.noUi-handle:after {
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    width: 30px;
    height: 30px;
    content: '';
    border-radius: 100%;
    background: #FFB300;
    box-shadow: 0px 5px 47px rgba(255, 179, 0, 0.83);
}
.noUi-handle:before {
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
}

h1 {
    font-size: 24px;
    color: #333;
}

h2 {
    font-size: 26px;
    padding-left: 10px;
    color: #fff;
    font-weight: 400;
}

.lightThis {
    margin: 50px 0 0;
    background: #a1c6d6;
}

.lightThisFinal {
    margin: 10px 0 0;
    background: #97b9b0;
}

@media screen and (max-width: 500px) {
    .noUi-pips-horizontal {
        display: none;
    }
}

.noUi-horizontal .noUi-tooltip {
    top: 35px;
    display: block;
    position: relative;
    width: 80px;
    padding: 10px;
    background-image: url(../svg/tool.svg);
    border: none;
    background-size: 100% 100%;
}

.noUi-pips-horizontal {
    top: -25px;
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 10px;
}

#slider-1 {
    max-width: 733px;
}

#slider-2 {
    max-width: 305px;
    left: 110px;
}

#slider-2 .noUi-value-sub {
    display: none !important;
}
.noUi-marker-normal {
    display: none;
}

.calc-title {
    font-family: Exo2Medium;
    color: #52586E;
    font-size: 20pt;
    margin-bottom: 45px;
}

.result {
    font-size: 20pt !important;
    color: #4D4D4D !important;
}












.seo {
    box-shadow: 0 0 22px 0 rgba(153, 153, 153, 0.19);
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
}


.seo .section-return-info .cell {
    display: flex;
    height: 100%;
    border-right: 1px solid #bfbfbf;
    align-items: center;
    width: 400px;
    justify-content: center;
}

.seo .section-return-info .cell-right {
    padding: 0 45px;
}

.seo .section-return-info span {
    padding: 0 3px;
    font-size: 12pt;
    font-family: exo2;
    color: #6F7487;
}
.seo .section-return-info span#return, .seo .section-return-info span#returnDate {
    font-size: 20pt;
    color: #4D4D4D;
}

.seo .section-return-info .return-value {
    color: #4D4D4D;
    font-size: 12pt;
}

.svg19 {
    height: 19px;
    vertical-align: baseline;
}

.seo .section-return-info .return-value span {
    color: #6F7487;
}
