/* font-family: "exo2medium"; */

@font-face {
    font-family: "exo2medium";
    src: url("../fonts/exo2medium.woff2");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "exo2light"; */

@font-face {
    font-family: "exo2light";
    src: url("../fonts/exo2light.woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "exo2";
    src: url("../fonts/exo2.woff2");
    font-style: normal;
    font-weight: normal;
}

/*---------left-sidebar---------*/

.left-sidebar {
    max-width: 345px;
    float: left;
    width: 100%;
}

.left-menu {
    background: #ebebeb;
    height: 100vh;
}

.left-menu-image {
    background: url("../images/system/15.jpg");
    height: 76px;
    background-size: cover;
}

.mask {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-menu-title {
    display: flex;
    justify-content: center;
    margin: auto;
    color: #fbffff;
    font-size: 16pt;
}

.left-menu .nav-stacked img {
    padding-right: 15px;
}

.left-menu .navbar-hide {
    border-bottom: 1px solid #c9c9c9;
    padding: 10px;
    font-size: 12pt;
}

.left-menu a {
    color: #636363;
    text-transform: uppercase;
    text-decoration: none;
}

.left-menu .exit {
    padding: 25px 10px;
    border: none;
}

.left-menu .active {
    color: #332E99;
}

/*---------end left-sidebar---------*/

/*---------Смежные классы---------*/

.wrapper {
    background: #f5f5f5;
}

body {
    background-color: #F5F5F5;
    font-family: "Exo2Medium";
}

.logo {
    padding-left: 0px;
}

.btn-basket {
    background-image: url(../svg/basket-gray.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 1px solid #9c9c9c;
}

label {
    color: #808080;
}

.btn-blue {
    border: 1px solid #332E99;
    border-radius: 25px;
    color: #332E99;
    background-color: transparent;
    font-size: 11pt;
    width: 205px;
    height: 50px;
    transition: 0.2s;
}

.btn-blue:hover {
    background-image: linear-gradient(to left, #70B9E0, #231E8C);
    color: #fff;
    border: none;
    box-shadow: 0 5px 27px 0 rgba(35, 30, 140, 0.43);
    transition: 0.2s;
}

.btn-blue2 {
    border: none;
    border-radius: 25px;
    color: #332E99;
    background: transparent;
    font-size: 11pt;
    width: 115px;
    height: 50px;
    transition: 0.2s;
}

.btn-blue2:hover {
    color: #817FB0;
    transition: 0.2s;
}

.btn-orange {
    border-radius: 25px;
    height: 50px;
    background: linear-gradient(to right, #FCC72A, #E07A04);
    box-shadow: 0 8px 15px 0 rgba(224, 122, 4, 0.52);
    font-size: 11pt;
    color: #fff;
    border: none;
    margin: auto;
    min-width: 192px;
    display: block;
    text-transform: uppercase;
    transition: 0.2s;
}

.btn-orange:hover {
    background: linear-gradient(to right, #FFD900, #FC8600);
    transition: 0.2s;
}

.title h2 {
    font-size: 16pt;
    color: #3d3d3d;
    padding: 30px 0;
}

p {
    font-size: 12pt;
    color: #4f4f4f;
}

a {
    text-decoration: underline;
    color: #332E99;
}

.text-area {
    padding-top: 65px;
}

.navbar-hide a:hover, .navbar-hide a:focus {
    background: transparent !important;
}

.btn-white {
    background: transparent;
    color: #fff;
    border-radius: 25px;
    border: 1px solid #fff;
    height: 50px;
    transition: 0.2s;
    padding: 0 39px;
    vertical-align: top;
}

.btn-white:hover {
    background: #fff;
    color: #332E99;
    transition: 0.2s;
}

.desk {
    width: 100%;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 22px 0 rgba(153, 153, 153, 0.19);
    min-height: 236px;
    padding: 20px 20px;
    max-width: 593px;
    margin: 22px 0;
}

.preview-new {
    padding: 25px !important;
}

.desk .title .name {
    color: #332E99;
    font-size: 13pt;
}

.more {
    font-size: 12pt;
    color: #3d3d3d;
    text-decoration: none;
    margin: 25px 0;
    display: block;
}

.more:hover {
    text-decoration: underline;
}

.desk .title p {
    color: #636363;
    font-size: 13pt;
    padding-bottom: 15px;
    min-height: 63px;
}

.date {
    font-size: 11pt;
    color: #9E9C9C;
}

.from {
    color: #9E9C9C;
    font-size: 12pt;
}

.main-content {
    float: right;
    max-width: calc(100% - 345px);
    width: 100%;
}

.mask {
    background-image: linear-gradient(to right, rgba(115, 168, 196, 0.7), rgba(28, 24, 110, 0.7));
}

button, input {
    outline: none;
}

input[type="text"], input[type="password"] {
    width: 303px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #CBCDD1;
    padding: 0 0 0 48px;
    background-position: 10px center;
    background-repeat: no-repeat;
    transition: 0.2s;
}

input:focus {
    border-color: #332E99;
    transition: 0.2s;
}

::-webkit-input-placeholder {
    color: #dedede;
    font-size: 16pt;
}

.main-content .content {
    margin-left: 120px;
    max-width: 1112px;
}

.input-pas {
    background-image: url(../svg/32.svg);
}

.input-tel {
    background-image: url(../svg/31.svg);
}

.input-name {
    background-image: url(../svg/30.svg);
}

.input-email {
    background-image: url(../svg/29.svg);
}

.input-address {
    background-image: url(../svg/29.svg);
}

.input-company {
    background-image: url(../svg/38.svg);
}

.input-position {
    background-image: url(../svg/39.svg);
}

.radio {
    display: none;
}

.radio-custom {
    width: 26px;
    height: 22px;
    margin-right: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-image: url(../svg/radio.svg);
}

.checkbox:checked + .radio-custom {
    background-image: url(../svg/radio-checked.svg);
}

.checkbox {
    display: none;
}

.checkbox-custom {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    bottom: 3px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-image: url(../svg/checkbox.svg);
}

.checkbox:checked + .checkbox-custom {
    background-image: url(../svg/checkbox-checked.svg);
}

#myfirstchart {
    background-color: #fff;
    height: 374px;
    max-width: 797px;
    width: 100%;
}

#myfirstchart .morris-hover.morris-default-style {
    border: solid 1px rgb(66, 57, 222);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.28);
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

.captcha {
    display: block;
    width: min-content;
    margin: auto;
}

/*---------end Смежные классы---------*/

/*--------- Header ------------*/

.header {
    min-height: 117px;
    background: #fff;
    box-shadow: 0 0 15px 0 #c9c9c9;
}

.header .navbar-collapse {
    padding-top: 17px;
}

.autorization {
    background: url("../images/system/5.jpg");
    color: #f1fcff;
    min-height: 32px;
}

.autorization span {
    padding: 5px 5px 5px 15px;
    display: inline-block;
}

.header .navbar-hide a {
    font-size: 12pt;
    color: #332E99;
    text-decoration: none;
    transition: 0.2s;
}

.header .navbar-hide:hover a {
    color: #9c9c9c;
    transition: 0.2s;
}

.header .btn-white {
    margin: 0 15px;
}

/*---------- End Header -----------*/

/*---------- Homepage -----------*/

.homepage {
    background-color: #fff;
}

.homepage .header {
    box-shadow: none;
    background-color: transparent;
}

.homepage .header .btn-basket {
    background-image: url(../svg/basket.svg);
    border: 1px solid #fff;
    transition: 0.2s;
}

.homepage .header .btn-basket:hover {
    background-image: url(../svg/basket-blue.svg);
    border: 1px solid transparent;
    transition: 0.2s;
    background-color: #fff;
}

.tovar-count {
    background-color: #EFA419;
    height: 21px;
    width: 21px;
    display: block;
    border-radius: 100%;
    color: #fff;
    font-size: 11pt;
    text-align: center;
    position: relative;
    left: 30px;
    bottom: 18px;
}

.homepage .header .navbar-hide a {
    color: #fff;
    font-size: 13pt;
    text-decoration: none;
}

.homepage .more {
    float: right;
}

.block-start {
    background: url("../images/system/start-page-bg.png");
    max-height: 857px;
    height: 100vh;
    padding-top: 71px;
    display: table;
    width: 100%;
}

.homepage .block-start .btn-orange {
    padding: 0 13px 0 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-orange span {
    float: right;
    border: 1px solid #fff;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    background-image: url(../svg/caret.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 10px;
}

.block-equipment {
    padding-bottom: 70px;
}

.block-start .content {
    display: table-row;
}

.block-start .title {
    font-size: 32pt;
    color: #fff;
    padding: 5px 0 65px 0;
}

.block-start .btn-orange {
    width: 211px;
    padding-right: 30px;
}

.block-equipment .title h2 {
    font-size: 24pt;
}

.block-equipment .cells {
    max-width: 1105px;
    margin: auto;
}

.block-equipment .cell {
    background: #fff;
    padding: 38px 50px 50px 50px;
    background-size: contain;
    max-width: 342px;
    text-align: center;
    box-shadow: 0 0 22px 0 rgba(158, 158, 158, 0.19);
    margin: 15px auto;
    border-top: 12px solid #FFCF5E;
}

.block-equipment .cell .name {
    font-size: 12pt;
    color: #4f4f4f;
}

.block-equipment .cell .term {
    font-size: 12pt;
    color: #4f4f4f;
    padding: 15px 0;
}

.block-equipment .cell .old-price {
    font-size: 12pt;
    color: #bfbfbf;
    text-decoration: line-through;
}

.block-equipment .cell .price {
    font-size: 18pt;
    color: #3d3d3d;
    margin: 0;
}

.block-equipment .cell .nds {
    font-size: 10pt;
    color: #bfbfbf;
    padding-bottom: 20px;
}

.block-advantages {
    background: #f5f5f5;
    padding: 45px 0 60px;
}

.block-advantages .column-title {
    font-size: 22pt;
    color: #3d3d3d;
    padding-bottom: 15px;
}

.block-advantages .advantage {
    display: list-item;
    list-style-image: url(../svg/43.svg);
    padding-left: 5px;
    position: relative;
    left: 30px;
    max-width: 600px;
}

.block-advantages .delimiter:after {
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #e6e6e6;
    margin: 15px 0 20px;
}

.block-reviews {
    padding: 45px 0;
}

.block-reviews .desk-block {
    max-width: 593px;
    width: 100%;
    margin: auto;
}

.block-reviews .desk-block .desk-block-title {
    font-size: 24pt;
    color: #3d3d3d;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 5px;
    margin-bottom: 45px;
}

.desk-block .owl-carousel .owl-stage-outer {
    box-shadow: 0 0 22px 0 rgba(153, 153, 153, 0.19);
}

.block-reviews .desk {
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 22px 0 rgba(153, 153, 153, 0.19);
    min-height: 236px;
    padding: 20px 5px;
    margin: 0;
}

.comment-desk {
    background-image: url(../svg/8.svg);
    background-repeat: no-repeat;
    background-position: 90px 94px;
}

.block-reviews .desk .photo {
    height: 75px;
    width: 75px;
    margin: auto;
}

.block-reviews .desk .title p {
    color: #636363;
    font-size: 13pt;
    padding-bottom: 15px;
    min-height: 63px;
}

.block-reviews .desk .title .name {
    color: #332E99;
    font-size: 13pt;
}

.block-reviews .desk .title .date {
    font-size: 11pt;
    color: #9E9C9C;
}

.block-reviews .more {
    font-size: 12pt;
    color: #3d3d3d;
    text-decoration: none;
    margin: 25px 0;
    display: block;
    float: right;
}

.block-reviews .more:hover {
    text-decoration: underline;
}

.nav-btns {
    float: right;
}

.homepage .btn-prev1, .homepage .btn-prev2 {
    background-image: url(../svg/6.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    height: 15px;
    margin-right: 15px;
}

.homepage .btn-next1, .homepage .btn-next2 {
    background-image: url(../svg/7.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    height: 15px;
}

/*---------- End Homepage -----------*/

/*---------- Equipment ------------*/

.equipment .main-content .content {
    margin-left: 120px;
    max-width: 1112px;
}

.equipment .cell {
    background: #fff url(../images/system/4.jpg) no-repeat;
    padding: 50px;
    background-size: contain;
    max-width: 342px;
    text-align: center;
    box-shadow: 0 0 22px 0 rgba(158, 158, 158, 0.19);
    margin: 15px auto;
}

.equipment .cell .name {
    font-size: 12pt;
    color: #4f4f4f;
}

.equipment .cell .term {
    font-size: 12pt;
    color: #4f4f4f;
    padding: 15px 0;
}

.equipment .cell .old-price {
    font-size: 12pt;
    color: #bfbfbf;
    text-decoration: line-through;
}

.equipment .cell .price {
    font-size: 18pt;
    color: #332E99;
    margin: 0;
}

.equipment .cell .nds {
    font-size: 10pt;
    color: #bfbfbf;
    padding-bottom: 20px;
}

.link-to-basket {
    font-size: 12pt;
    color: #4f4f4f;
}

.links {
    float: right;
}

/*---------- end Equipment ------------*/

/*---------- Blog ------------*/

.blog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 45px;
}

.blog-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 6px 0;
}

.blog .image, .blog .desk {
    display: flex;
    margin: 6px;
}

.blog .pagination > li > a, .blog .pagination > li > span {
    color: #919191;
    border: none;
    font-size: 14pt;
    padding: 7px;
}

.blog .pagination > .active > a, .blog .pagination > .active > a:focus, .blog .pagination > .active > a:hover, .blog .pagination > .active > span, .blog .pagination > .active > span:focus, .blog .pagination > .active > span:hover {
    background-color: transparent;
    color: #332E99;
}

.blog .pagination > li > a:hover {
    color: #D1CFCF;
    background: transparent;
}

/*---------- end Blog ------------*/

/*---------- New-detail ----------*/

.new-detail {
    padding: 80px 0 60px 0;
}

.new-detail .icon {
    margin-left: 15px;
}

.new-detail .content {
    max-width: 1006px;
    width: 100%;
    float: left;
}

.new-detail .title {
    font-size: 18pt;
    color: #3d3d3d;
    padding-bottom: 15px;
}

.new-detail .date {
    padding-bottom: 30px;
}

.alter-news {
    max-width: 294px;
    width: 100%;
    float: right;
}

.new-detail .new-image {
    overflow: hidden;
}

.new-detail .alter-news .title {
    margin: 0;
    font-size: 16pt;
}

.new-detail .alter-news {
    max-width: 294px;
}

.new-detail .alter-news .cell {
    margin: 10px auto 30px auto;
}

.new-detail .alter-news .image {
    margin-bottom: 11px;
}

.new-detail .alter-news .desk {
    min-height: 107px !important;
    padding: 5px 10px;
}

.new-detail .alter-news .desk .title .name {
    font-size: 10pt;
}

.new-detail .alter-news .desk .title .date {
    font-size: 8pt;
}

.new-detail .alter-news .desk .preview-text p {
    font-size: 9pt;
}

/*---------- End New-detail ------*/

/*---------- Reviews ------*/

.reviews {
    padding-bottom: 45px;
}

.reviews .title h2 {
    font-size: 24pt;
}

.reviews .content {
    max-width: 1195px;
    margin: auto;
}

.add-review a {
    font-size: 11pt;
    color: #332E99;
    text-decoration: none;
    transition: 0.2s;
}

.add-review a:hover {
    color: #817FB0;
    transition: 0.2s;
}

/*---------- End Reviews ------*/

/*---------- About ------------*/

.about .title h2 {
    font-size: 24pt;
}

.about .image {
    max-width: 1440px;
    width: 100%;
    height: 247px;
    background-image: url("../images/system/6.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}

.about .text-area {
    padding: 23px 23px 0 85px;
    background-image: url(../svg/13.svg);
    background-repeat: no-repeat;
    background-position: 15px 0;
    font-family: "exo2light";
}

.about .blue {
    color: #332E99;
}

.about .medium {
    font-family: exo2medium;
}

.un-line:after {
    display: block;
    content: '';
    height: 3px;
    background-color: #FFC642;
    width: 46px;
    border-radius: 50px;
    margin-top: 10px;
}

/*---------- End About ------------*/

/*---------- Balance ------------*/

.balance .cell {
    background: #fff;
    max-width: 444px;
    max-height: 415px;
    width: 100%;
    height: 100%;
    padding: 49px;
    display: flex;
    flex-wrap: wrap;
}

.wc {
    background-image: url("../svg/25.svg");
}

.balance .cell .title {
    font-size: 16pt;
    color: #3d3d3d;
}

.balance .inputs {
    display: flex;
    flex-wrap: wrap;
    max-width: min-content;
}

.balance .btn-inverse {
    display: flex;
    margin: auto;
    background-image: url(../svg/28.svg);
    background-color: transparent;
    border: none;
    width: 21px;
    height: 24px;
    position: relative;
    background-repeat: no-repeat;
    bottom: 10px;
}

.balance p span {
    color: #8F8F8F;
}

/*---------- End Balance ------------*/

/*---------- Profile ------------*/

.profile .cell {
    background: #fff;
    max-width: 378px;
    width: 100%;
    max-height: 353px;
    height: 100%;
    float: right;
    padding: 37px;
    box-shadow: 0 0 22px 0 rgba(153, 153, 153, 0.19);
}

.profile ::-webkit-input-placeholder {
    font-size: 11pt;
}

.profile .cell .title {
    font-size: 16pt;
    color: #3d3d3d;
    padding-bottom: 30px;
}

.profile .cell input {
    margin: auto;
    display: block;
    margin-bottom: 40px;
}

.profile .cell .btn-orange {
    max-width: 243px;
    width: 100%;
}

.profile .btn-blue {
    width: 259px;
}

/*---------- End Profile ------------*/

/*---------- Contacts ------------*/

.contacts {
    padding: 40px 0 80px 0;
}

.contacts .content {
    padding: 40px 0;
}

.contacts #map {
    max-height: 375px;
    max-width: 1440px;
    margin: auto;
    height: 100vh;
}

.contacts .contact-form {
    max-width: 409px;
    width: 100%;
    height: 391px;
    background-color: #fff;
    border-radius: 6px;
    padding: 30px 54px;
    position: absolute;
    z-index: 1;
    left: 243px;
    top: 28px;
}

.contacts .contact-form .title {
    text-align: center;
    font-size: 12.89pt;
    color: #3d3d3d;
    padding-bottom: 20px;
}

.contacts .contact-form textarea {
    width: 296px;
    height: 78px;
    display: block;
    margin: auto;
    border-radius: 4px;
    border: 1px solid #CBCDD1;
    margin-bottom: 20px;
}

.add-file {
    font-size: 20pt;
    color: #8f8f8f;
    position: relative;
    top: 3px;
}

.contacts .contact-form a {
    text-decoration: none;
}

.contacts .contact-form label {
    font-size: 7.25pt;
    font-family: echo2light;
    color: #808080;
    vertical-align: middle;
}

.contacts .contact-form .check {
    padding: 17px 0 26px 0;
}

/*---------- End Contacts ------------*/

/*------------ Basket -------------*/

.basket h2 {
    padding: 30px 0;
    font-size: 24pt;
}

.basket table {
    border-bottom: 2px solid #e4e4e4;
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

td {
    text-align: center;
    max-width: 340px;
    padding: 15px 29px;
}

table .price {
    font-size: 16pt;
    color: #4f4f4f;
}

table .cell-name {
    text-align: left;
}

table .table-head {
    background-color: #ebebeb;
    height: 61px;
    color: #8f8f8f;
    font-size: 13pt;
}

table .content {
    min-height: 70px;
}

table button {
    background: transparent;
    border: none;
    font-size: 20pt;
    color: #8f8f8f;
}

.basket .ordering-block {
    max-width: 960px;
    margin: auto;
}

.basket .ordering {
    border-bottom: 2px solid #e4e4e4;
}

.basket .ordering .form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.basket .ordering .form input[type=text] {
    display: flex;
    font-size: 11pt;
}

.basket .ordering .form input[type=text]::-webkit-input-placeholder {
    font-size: 11pt;
}

.basket .ordering-block .btn-orange {
    margin: 0;
}

.basket .block-itog {
    max-width: 630px;
}

.basket .block-itog p {
    padding: 20px 0;
}

.basket .block-itog .itog {
    padding: 32px 0 22px 0;
    color: #8f8f8f;
}

.basket .block-itog .itog span {
    color: #3d3d3d;
}

.basket table input {
    width: 70px;
    height: 34px;
    border-radius: 0;
    text-align: center;
    padding: 0;
}

.basket .punkt {
    padding: 35px 0 15px;
}

.basket label {
    color: #3d3d3d;
    font-size: 12pt;
}

.itog-price {
    padding-top: 30px;
    color: #8f8f8f;
}

.itog-price span {
    color: #4f4f4f;
}

table a {
    color: #8f8f8f;
}

table a:hover {
    text-decoration: none;
    color: #8f8f8f;
}

/*---------- End Basket ------------*/

/*---------- payments ------------*/

.payments .content {
    max-width: 1200px;
}

.payments h2 {
    padding: 30px 0;
    font-size: 24pt;
}

.payments .subtitle {
    font-size: 14pt;
    color: #3d3d3d;
    padding: 0 0 25px;
}

.payments .filter {
    padding: 15px 0;
}

.payments .filter a {
    font-family: Exo2Light;
    font-size: 11pt;
    color: #5e5e5e;
    text-decoration: none;
    padding-right: 10px;
}

.payments .filter .active {
    color: #332E99;
}

.payments .content .desk {
    margin: 0;
}

.payments table {
    font-family: Exo2Light;
    font-size: 11pt;
    color: #6F7487;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 22px 0 rgba(153, 153, 153, 0.19);
}

.payments table td {
    border: 1px solid #e3e3e3;
    padding: 7px 0;
}

.payments .string-title {
    font-family: Exo2Medium;
    color: #5E5E5E;
    font-size: 13pt;
}

.payments .btn-orange {
    margin: 40px 0;
}

/*---------- End payments ------------*/

.footer {
    height: 450px;
    background: url("../images/system/footer-bg.png");
}

.footer .navbar-hide a {
    color: #dbdbdb;
    text-decoration: none;
    font-size: 12pt;
    transition: 0.2s;
}

.footer .navbar-hide:hover a {
    color: #fff;
    transition: 0.2s;
}

.social-network {
    display: flex;
    justify-content: center;
}

.radial-cell {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    display: flex;
    margin: 0 8px;
    transition: 0.2s;
}

.radial-cell:hover {
    background: #fff;
    transition: 0.2s;
}

.radial-cell svg path {
    transition: 0.2s;
}

.radial-cell:hover svg path {
    fill: #6071A5;
    transition: 0.2s;
}

.bottom-menu {
    margin: 115px 0 48px 0;
}

.footer .btn-white {
    width: 246px;
}

/*---------- Модалки ------------*/

.close {
    position: relative;
    float: right;
    left: 40px;
    bottom: 35px;
    opacity:1;
    transition: 0.2s;
}

.close:hover {
    opacity:0.5;
    transition: 0.2s;
}

.modal-subtitle {
    color: #858585;
    font-size: 11pt;
    font-family: exo2Light;
}

.question {
    padding: 0px 100px 15px 100px;
    font-family: exo2light;
    font-size: 11pt;
    color: #AAABAD;
}

.question a {
    color: #332E99;
    font-family: exo2;
    padding: 0 15px;
    transition: 0.2s;
    text-decoration: none;
}

.question a:hover {
    color: #817FB0;
    transition: 0.2s;
}

/*---------- добавить отзыв ------------*/

.modal-body textarea {
    width: 100%;
    border-radius: 6px;
}

.modal-body input[type="text"], .modal-body input[type="password"] {
    display: inline-block;
    margin: 0px auto 15px auto;
    max-width: 368px;
    width: 100%;
}

#modalAddReview .modal-dialog {
    max-width: 892px;
    width: 100%;
}

#modalAddReview .modal-content {
    padding: 0 60px;
}

.modal-footer, .modal-header, .modal-content {
    border: none;
}

.block-inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block-inputs input {
    display: flex;
}

.modal-title {
    font-size: 16pt;
    color: #3d3d3d;
}

#modalAddReview .close {
    position: relative;
    top: -29px;
    left: 105px;
    opacity: 1;
    float: right;
}

/*---------- End добавить отзыв ------------*/

/*---------- График ------------*/

.modal-body #myfirstchart {
    width: 570px;
}

#schedule .close {
    position: relative;
    top: -29px;
    left: 45px;
    opacity: 1;
    float: right;
}

.purchase .btn-orange {
    margin: 40px auto;
}


/*---------- End График ------------*/

/*---------- End Модалки ------------*/



