<div class="footer">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="col-xs-12">
                    <div class="bottom-menu">
                        <div class="row">
                            <ul class="nav navbar-nav">
                                <li class="navbar-hide"><a href="/">ГЛАВНАЯ</a></li>
                                <li class="navbar-hide"><a href="about.php">О КОМПАНИИ</a></li>
                                <li class="navbar-hide"><a href="#">ПОЛЕЗНАЯ ИНФОРМАЦИЯ</a></li>
                                <li class="navbar-hide"><a href="contacts.php">КОНТАКТЫ</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <button class="btn-white">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                </div>
                <div class="col-xs-12 form-group">
                    <button class="btn-white">ВОЙТИ</button>
                </div>
            </div>


        </div>
    </div>

    <div class="social-network">
        <div class="radial-cell">

            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="45px" height="45px" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
    viewBox="0 0 5372 5372"
     xmlns:xlink="http://www.w3.org/1999/xlink">
     <g id="Слой_x0020_1">
      <metadata id="CorelCorpID_0Corel-Layer"/>
      <g id="_2424790591824">
       <path fill="white" fill-rule="nonzero" d="M3881 1945c-88,39 -182,66 -281,77 101,-60 178,-157 215,-271 -95,56 -199,97 -312,119 -89,-95 -216,-155 -357,-155 -271,0 -490,220 -490,490 0,39 4,76 12,112 -408,-21 -769,-215 -1011,-512 -42,72 -66,157 -66,246 0,170 86,321 218,408 -80,-2 -156,-25 -222,-61l0 6c0,237 169,436 393,481 -41,11 -84,17 -129,17 -31,0 -62,-3 -92,-9 62,195 243,336 458,341 -168,131 -380,209 -610,209 -39,0 -78,-2 -116,-6 217,139 475,220 752,220 901,0 1394,-747 1394,-1395l-1 -63c96,-70 179,-156 245,-254z"/>
       <circle fill="none" stroke="white" stroke-width="90.2913" cx="2686" cy="2686" r="2641"/>
      </g>
     </g>
    </svg>

        </div>
        <div class="radial-cell">

            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="45px" height="45px" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
        viewBox="0 0 5389 5389"
         xmlns:xlink="http://www.w3.org/1999/xlink">
         <g id="Слой_x0020_1">
          <metadata id="CorelCorpID_0Corel-Layer"/>
          <g id="_2461002023904">
           <path fill="white" fill-rule="nonzero" d="M3189 1707l-256 -1c-288,0 -475,191 -475,487l0 224 -257 0c-23,0 -41,18 -41,40l0 325c0,23 18,41 41,41l257 0 0 820c0,22 18,40 41,40l336 0c22,0 40,-18 40,-40l0 -820 302 0c22,0 40,-18 40,-41l0 -325c0,-10 -4,-20 -12,-28 -7,-8 -18,-12 -28,-12l-302 0 0 -190c0,-91 22,-138 141,-138l173 0c22,0 40,-18 40,-40l0 -302c0,-22 -18,-40 -40,-40z"/>
           <circle fill="none" stroke="white" stroke-width="90.5861" cx="2695" cy="2695" r="2649"/>
          </g>
         </g>
        </svg>

        </div>
        <div class="radial-cell">

            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="45px" height="45px" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
        viewBox="0 0 5407 5407"
         xmlns:xlink="http://www.w3.org/1999/xlink">
         <g id="Слой_x0020_1">
          <metadata id="CorelCorpID_0Corel-Layer"/>
          <g id="_2461001983072">
           <path fill="white" d="M3711 2918c93,91 191,176 274,276 37,44 71,90 98,141 38,73 3,153 -62,158l-407 -1c-105,9 -189,-33 -259,-105 -57,-57 -109,-118 -163,-178 -22,-24 -45,-47 -73,-65 -56,-36 -104,-25 -136,33 -32,59 -39,124 -43,190 -4,96 -33,121 -129,125 -206,10 -401,-21 -583,-125 -160,-91 -284,-220 -392,-367 -210,-284 -371,-597 -515,-919 -33,-73 -9,-111 71,-113 133,-2 265,-2 398,0 54,1 90,32 111,83 72,176 160,344 270,500 29,42 59,83 102,112 47,33 83,22 105,-31 14,-33 21,-69 24,-105 10,-122 12,-245 -7,-368 -11,-76 -54,-125 -130,-140 -39,-7 -33,-22 -15,-44 33,-38 64,-62 125,-62l460 0c73,14 89,47 99,120l0 511c-1,28 14,112 65,130 41,14 67,-19 92,-45 110,-117 189,-255 259,-398 31,-63 58,-128 84,-193 19,-49 49,-73 104,-72l442 1c14,0 27,0 40,2 74,13 95,45 72,118 -37,114 -107,209 -176,305 -74,102 -153,201 -226,304 -68,94 -62,141 21,222z"/>
           <circle fill="none" stroke="white" stroke-width="90.8834" cx="2704" cy="2704" r="2658"/>
          </g>
         </g>
        </svg>

        </div>
        <div class="radial-cell">

            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="45px" height="45px" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
            viewBox="0 0 5425 5425"
             xmlns:xlink="http://www.w3.org/1999/xlink">
             <g id="Слой_x0020_1">
              <metadata id="CorelCorpID_0Corel-Layer"/>
              <g id="_2460999575104">
               <path fill="white" d="M1991 1742l1443 0c137,0 249,101 249,249l0 1443c0,148 -112,249 -249,249l-1443 0c-137,0 -249,-101 -249,-249l0 -1443c0,-148 112,-249 249,-249zm1165 215c-48,0 -87,40 -87,88l0 209c0,48 39,87 87,87l219 0c48,0 88,-39 88,-87l0 -209c0,-48 -40,-88 -88,-88l-219 0zm308 606l-171 0c16,52 25,108 25,166 0,323 -270,585 -604,585 -333,0 -603,-262 -603,-585 0,-58 9,-114 25,-166l-179 0 0 820c0,42 35,77 78,77l1352 0c42,0 77,-35 77,-77l0 -820zm-750 -233c-215,0 -390,170 -390,378 0,209 175,378 390,378 216,0 390,-169 390,-378 0,-208 -174,-378 -390,-378z"/>
               <circle fill="none" stroke="white" stroke-width="91.1821" cx="2712" cy="2712" r="2667"/>
              </g>
             </g>
            </svg>

        </div>
    </div>
</div>


<!-- ------- Модалки ------- -->

<!-- ------- Добавить отзыв ------- -->

<div class="modal fade" id="modalAddReview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="18px" height="18px" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
viewBox="0 0 861 859"
 xmlns:xlink="http://www.w3.org/1999/xlink">
 <g id="Слой_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <polygon fill="#858585" points="861,50 811,0 431,380 50,0 0,50 381,430 0,810 50,859 431,480 811,859 861,810 480,430 "/>
 </g>
</svg>
</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Оставить отзыв</h4>
            </div>
            <div class="modal-body">
                <div class="block-inputs">
                    <input type="text" class="input-name" placeholder="Имя и фамилия">
                    <input type="text" class="input-email" placeholder="Электронная почта">


                    <input type="text" class="input-company" placeholder="Компания">
                    <input type="text" class="input-position" placeholder="Ваша должность">
                </div>

                <textarea name="" id="" placeholder="Текст сообщения" cols="30" rows="10"></textarea>
                <div class="text-left">
                    <label>
                        <input class="checkbox" type="radio" value="1">
                        <span class="checkbox-custom"></span>Согласен на обработку персональных данных
                    </label>
                </div>

                <button class="btn-orange">Отправить</button>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- ------- End Добавить отзыв ------- -->

<!-- ------- График ------- -->

<div class="modal fade" id="schedule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="18px" height="18px" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
viewBox="0 0 861 859"
 xmlns:xlink="http://www.w3.org/1999/xlink">
 <g id="Слой_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <polygon fill="#858585" points="861,50 811,0 431,380 50,0 0,50 381,430 0,810 50,859 431,480 811,859 861,810 480,430 "/>
 </g>
</svg>
</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Оставить отзыв</h4>
            </div>
            <div class="modal-body">
                <div id="myfirstchart" class="desk"></div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- ------- End График ------- -->


<!-- ------- Регистрация ------- -->

<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="18px" height="18px" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
viewBox="0 0 861 859"
 xmlns:xlink="http://www.w3.org/1999/xlink">
 <g id="Слой_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <polygon fill="#858585" points="861,50 811,0 431,380 50,0 0,50 381,430 0,810 50,859 431,480 811,859 861,810 480,430 "/>
 </g>
</svg>
</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Регистрация</h4>
                <h3 class="modal-subtitle">Введите Вашу личную информацию</h3>
            </div>
            <div class="modal-body">

                <input type="text" placeholder="Электронная почта" class="input-email">
                <input type="password" placeholder="Пароль" class="input-pas">
                <input type="password" placeholder="Повторите ввод пароля" class="input-pas">

                <p class="question text-left">Уже зарегистрированы? <a href="">Войти</a></p>

                <label>
                    <input class="checkbox" type="radio" value="1">
                    <span class="checkbox-custom"></span>Согласен на обработку персональных данных
                </label>

                <form class="captcha" action="" method="post">
                    <div class="g-recaptcha" data-sitekey="6LfQIjAUAAAAADtekORH02xbvurwwYL6p0A8NQlt"></div>
                </form>
                <button class="btn-orange">ЗАРЕГИСТРИРОВАТЬСЯ</button>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- ------- End Регистрация ------- -->

<!-- ------- Вход ------- -->

<div class="modal fade" id="enter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="18px" height="18px" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
viewBox="0 0 861 859"
 xmlns:xlink="http://www.w3.org/1999/xlink">
 <g id="Слой_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <polygon fill="#858585" points="861,50 811,0 431,380 50,0 0,50 381,430 0,810 50,859 431,480 811,859 861,810 480,430 "/>
 </g>
</svg>
</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Вход</h4>
                <h3 class="modal-subtitle">Введите свои регистрационные данные</h3>
            </div>
            <div class="modal-body">

                <input type="text" placeholder="Электронная почта" class="input-email">
                <input type="password" placeholder="Пароль" class="input-pas">

                <p class="question text-left">Уже зарегистрированы? <a href="">Войти</a></p>

                <label>
                    <input class="checkbox" type="radio" value="1">
                    <span class="checkbox-custom"></span>Согласен на обработку персональных данных
                </label>

                <form class="captcha" action="" method="post">
                    <div class="g-recaptcha" data-sitekey="6LfQIjAUAAAAADtekORH02xbvurwwYL6p0A8NQlt"></div>
                </form>

                <button class="btn-orange">ВОЙТИ</button>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- ------- End Вход ------- -->

<!-- ------- End Модалки ------- -->


<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/owl.carousel/dist/owl.carousel.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="bower_components/morrisjs/morris.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript" src="js/script.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="js/icon_sprites.js" type="text/javascript"></script>
<script>$(document).ready(function () {
});</script>

<script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>

</body>
</html>