
<div class="left-menu">
    <div class="left-menu-image">
        <div class="mask">
            <p class="left-menu-title">
                Личный кабинет
            </p>
        </div>
    </div>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Меню</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="menu-collapse">
        <ul class="nav nav-stacked">
            <li class="navbar-hide"><a class="active" href="equipment.php"><img src="svg/24.svg">Купить оборудование</a></li>
            <li class="navbar-hide"><a href="#"><img src="svg/22.svg">Выплаты</a></li>
            <li class="navbar-hide"><a href="#"><img src="svg/23.svg">Покупка</a></li>
            <li class="navbar-hide"><a href="balance.php"><img src="svg/25.svg">Текущий баланс</a></li>
            <li class="navbar-hide"><a href="profile.php"><img src="svg/26.svg">Настройка профиля</a></li>
            <li class="navbar-hide exit"><a href="#"><img src="svg/27.svg">Выйти</a></li>
        </ul>
    </div>
</div>
